body{
    background-image: url(./Images/Fondo2.webp);
    background-size: cover;
    background-attachment: fixed;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
section
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    background-color: aquamarine;
    border-radius: 15px;
    border-style: solid;
    margin-top: 5px;
}
button{
    width: 100px;
}
.caja{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
    background-color: whitesmoke;
    border-radius: 25px;
    margin: 15px;
    padding: 25px;
    border-style: solid;
}
.para {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
.Titulo{
    text-align: center;
}
.contador {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    padding: 15px;
    background-color: green;
    border-radius: 25px;
    border-style: solid;
  }

.caja1 {
    background-color: red;
    color: yellow;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 25px;
  }
  
.caja2 {
    background-color: blue;
    color: yellow;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 25px;
  }
  
.caja3 {
    font-size: large;
    font-weight: 800;
    background-color: orange;
    color: black;
    margin: 1rem;
    padding: 1rem;
    border-radius: 25px;
    border-style: solid;
  }
  
.caja4 {
    display: flex;
    background-color: gainsboro;
    color: blueviolet;
    margin: 0.25rem;
    padding: 0.15rem;
    border-radius: 15px;
    border-style: solid;
  }
  
.cajaS1 {
    margin: 0.25rem;
    padding: 0.25rem;
    color: orange;
    float: left;
    border-radius: 10px;
  }
  
  .cursiva {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  
  #muestras img {
    width: 100px;
    margin: 10px 30px;
    cursor: pointer, hand;
  }
  #visor {
    text-align: center;
    float: right;
    margin: 0 20px;
  }
  #pantalla {
    width: 500px;
    padding: 30px;
    border: 5px double green;
    background-color: #f4f0c9;
  }