html {
    min-height: 100%;
  }
  body {
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    background-image: url(./Images/Fondo.jpg) ;
/*     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-attachment: fixed; */
  
    
    min-height: 100%;
    padding-bottom: 5rem;
    background: not repeat;
  }
  h1, h2  {
    color: rgb(0, 0, 0);
    padding: 3rem 0;
    text-align: center;
  margin: 30px;
    text-transform: uppercase;
  background-color: #5ef4ff;
  border-radius: 15px;
 
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
  }
  
  .slider{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
  }
  .slider ul{
    display: flex;
    animation:cambio 15s infinite alternate linear ;
    width: 400%;
    height: 300px;
  }
  .slider li{
    width: 100%;
    list-style: none;

  }
 .slider img{
   width: 100%;
   height:100%;
 }
 @keyframes cambio {
   0%{margin-left: 0;}
   20%{margin-left: 0;}
   25%{margin-left: -100%;}
   45%{margin-left: -100%;} 
   50%{margin-left: -200%;}
   70%{margin-left: -200%;}
   75%{margin-left: -300%;}
   100%{margin-left: -300%;}
 }


  .u-full-width{
      width: 300px;
    
  }
  .lista-citas .media {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 3rem;
  }
  
  .lista-citas .media:last-of-type{
    border-bottom: 0;
  }
  .lista-citas .media-body p {
    margin:0;
  }
  .lista-citas .media-body button {
    margin-top: 1rem!important;
  }
  .lista-citas .media-body span {
    font-weight: bold;
  }
  
  label {
    color: black;
    font-size: larger;
    background-color: whitesmoke;
    max-width: 300px;
  }
  
  input[type="date"],
  input[type="time"] {
    height: 38px;
      padding: 6px 10px;
      background-color: #fff;
      border: 1px solid #59c4df;
      border-radius: 4px;
      box-shadow: none;
      box-sizing: border-box;
  }
  
  .cita {
    padding: 2rem;
    background: white;
    border-bottom: 1px solid #e1e1e1;
    color: black;
  }
  
  .cita p {
    font-weight: bold;
    margin-bottom: .8rem;
  }
  .cita p span {
    font-weight: normal;
  
  }
  .cita:first-of-type {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .cita:last-of-type {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .button.eliminar,
  .button.eliminar:hover {
    background-color: #0023c1;
    color: white;
    margin-top: 2rem;
  }
  
  .alerta-error {
    background-color: white;
    color: red;
    padding: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-family:  'Staatliches', cursive;
  }